
  .bg-image {
      background-image: url('jt.jpg');
      /* background-size: cover;
      background-repeat: no-repeat; */
      position: absolute;
      width: 1920px;
      height: 1080px;
  }
  @media screen and (max-width:500px) {
    .bg-image {
      background-image: url('jt_small.jpg');
      /* background-size: cover;
      background-repeat: no-repeat; */
      position: absolute;
      width: 300px;
      height: 0px;
    }
  }
  .ctr {
    margin-top: 500px;
    margin-left: 40%;
    overflow: true;
    font-size: 100px;
  }
